#root {
  height: 100%;
  margin: 0;
  width: 100%;
}

.theme-dark {
  background: #000 !important;
}
.theme-light {
  background: #fff !important;
}

.ant-switch {
  border-radius: 999px !important;
}
.ant-switch-handle {
  top: 50% !important;
  transform: translateY(-50%) !important;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(17, 17, 17, 0.103);
  border-radius: 8px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(87, 87, 87, 0.103) transparent;
}

.ant-pro-global-header-header-actions-item > * {
  padding-inline: 0px;
  padding-block: 0px;
  border-radius: 50%;
}
